





.test-post{
     font-size: 50px;
     font-style: italic;
    text-align: center;
}
.media-object{


    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.media{
    text-align: center;
    padding: 10px 20px;
   background-color: #ffb2c1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.media-heading{

    font-size: 30px;
    font-weight: 10px;
    color: #7276c1;
}
.media-body{

    font-size: 20px;
}
.bprev{

    margin-top: 19px;
    color: turquoise;
    background-color:transparent;
}

.bprev:hover{
background-color: violet;


}
.post-body{

    background-color:burlywood;
}